@use "./../../styles/abstracts/_colors" as *;
@use "./../../styles/abstracts/_fonts" as *;

.container {
  display: flex;
  width: 400px;
  justify-content: space-around;
  border-radius: 4px;

  button {
    flex: 1;
    padding: 15px;
    transition: background-color 0.3s;
    font-family: $secondaryFont;
    font-weight: $fontWeightBold;
    font-size: 18px;
  }
}

button.clicked {
  background-image: linear-gradient(90deg, red, blue);
  background-size: 100% 7px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.dark {
  color: $dark-800;
  background-color: $white-700;
}

.light {
  color: $dark-600;
  background-color: $white-700;

  &.container {
    button {
      background-color: $white-500;
    }
  }
}

@media (max-width: 430px){
  .container{
    width: calc(100% - 10px);
    button{
      font-size: 14px;
    }
  }
}