@use "./../../styles/abstracts/_colors" as *;

.blogPageContainer {
  display: flex;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 10%;
  padding-bottom: 5%;
  height: 100%;
  gap: 35px;
}

.listContainer {
  width: 100%;
}
.sideBarSection {
  width: auto;
}

.light {
  &.blogPageContainer {
    background-color: $white-700;
  }
}

.dark {
  &.blogPageContainer {
    background-color: $dark-400;
  }
}

@media (max-width: 1348px) {
  .blogPageContainer {
    flex-direction: column;
    padding: 10% 2%;
  }
}
