.blogPageContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  gap: 50px;
  margin: 0 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.hidden{
  opacity: 0;
}
.searchInputContainer{
  width: 300px;
}
.searchInput {
  grid-column: span 2;
}

.sideBarSection {
  grid-column: 1;
  grid-row: 2;
}

.blogContentSection {
  grid-column: 2;
  grid-row: 2;
  min-height: 100vh;
}

.hideOverflow{
  overflow: auto;
}
@media (max-width: 1534px) {
  .blogPageContainer {
    padding-right: 1%;
    padding-left: 1%;
  }
  .blogContentSection {
    width: 100%;
  }
}
@media (max-width: 1348px) {
  .blogPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1348px) {
  .searchInputContainer {
    width: 810px;
    margin-right: auto;
    margin-left: auto;

  }
  .blogPageContainer {
    margin: 0 1%;
    padding-top: 100px;

  }
}

@media (max-width: 980px) {
  .sideBarSection {
    width: 100%;
  }
  .searchInputContainer {
    width: 100%;
  }
}

