$red-400: #e57373;
$red-500: #ef5350;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;

$green-400: #81c784;
$green-500: #4caf50;
$green-600: #43a047;
$green-700: #388e3c;
$green-800: #2e7d32;

$blue-400: #64b5f6;
$blue-500: #42a5f5;
$blue-600: #2196f3;
$blue-700: #1e88e5;
$blue-800: #1976d2;


$dark-300: #777777;
$dark-300: #666666;
$dark-400: #555555;
$dark-400: #424242;
$dark-500: #333333;
$dark-600: #212121;
$dark-700: #000000;
$dark-800: #000000;

$white-400: #ffffff;
$white-500: #f5f5f5;
$white-600: #f0f0f0;
$white-700: #e0e0e0;
$white-800: #bdbdbd;

