$red-400: #E57373;
$red-500: #EF5350;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;

$green-400: #81C784;
$green-500: #4CAF50;
$green-600: #43A047;
$green-700: #388E3C;
$green-800: #2E7D32;

$blue-400: #64B5F6;
$blue-500: #42A5F5;
$blue-600: #2196F3;
$blue-700: #1E88E5;
$blue-800: #1976D2;

$dark-400: #424242;
$dark-500: #333333;
$dark-600: #212121;
$dark-700: #000000;
$dark-800: #000000;

$white-400: #F5F5F5;
$white-500: #FFFFFF;
$white-600: #F0F0F0;
$white-700: #E0E0E0;
$white-800: #BDBDBD;