@use "./../../styles/abstracts/_fonts" as *;
@use "./../../styles/abstracts/_colors" as *;
@use "./../../styles/abstracts/_animations" as *;

.cardSkeleton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 15px;
  width: 380px;
  height: 400px;
}

.image,
.heading,
.footer {
    @include blinkingGradientBackground($white-800, $white-800, 0.68s);
    width: 100%;

}


.image {
  height: 60%;
}

.heading {
  height: 8%;
}


.footer {
  height: 40%;
}
