@use "./../../styles/abstracts/_fonts" as *;
@use "./../../styles/abstracts/_animations" as *;
@use "./../../styles/abstracts/_colors" as *;
@use "./../../styles/abstracts/_variables" as *;

.nav__menu__list {
  gap: 50px;
}

.nav__menu__item {
  font-family: $secondaryFont;
  font-weight: $fontWeightMedium;
  font-size: 20px;
  cursor: pointer;
}

.icon__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon__list li:not(:first-child) {
  padding-left: 15px;
}

// Toggle theme btn

.themeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  border-radius: 8px;
  padding: 2px;
}

.darkTheme {
  border: 2px solid white;
}

.lightTheme {
  border: 2px solid black;
}

// Animation

.item {
  @include hoverStyles;
}

.header {
  @include breakpoint(md) {
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10000;

    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transform: translate(0);
      transition: 0.3s ease transform;
      opacity: 0.98;
      @include breakpoint(md) {
        transform: none;
        height: 100%;
        position: static;
        justify-content: flex-end;

      }
      .nav__menu__list {
        display: flex;
        flex-direction: column;
        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
        }
        .icon__list {
          flex-direction: row;
        }
      }
      button {
        cursor: pointer;
        font-size: 1rem;
        font-family: inherit;
        border: 1px solid transparent;
        transition: 0.3s ease all;
      }

      &.isMenu {
        transform: translate(100%);
      }
    }

    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      margin: 1rem;
      flex: 1;
      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
