@use "./../../styles/abstracts/_colors" as *;
@use "./../../styles/abstracts/_fonts" as *;

.sidebar {
  position: sticky;
  top: 20px;
  height: calc(100vh - 5rem);
  width: 380px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 9px;
}

.sidebar {
  li,
  button {
    font-family: "DM sans", sans-serif;
  }
  button {
    -webkit-text-stroke: 0px;
    font-weight: 400;
    font-size: 20px;
    color: $dark-800;
  }
  li {
    font-size: 18px;
    color: $dark-400;
  }
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.accordionItem {
  button {
    border-radius: 0px !important;
  }
}

.dark {
  color: $dark-800;
  background-color: $white-600;
  &.accordionItem {
    background-color: $white-400;
    & h2 {
      background-color: $white-600;
    }
    & > div {
      background-color: $white-400;
    }
  }
}

.light {
  color: $dark-800;
  background-color: $white-500;
  &.accordionItem {
    background-color: $white-500;
    & h2 {
      background-color: $white-500;
    }
    & > div {
      background-color: $white-400;
    }
  }
}

@media (max-width: 1398px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1348px) {
  .sidebar {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
  }
}
