@use "./../../styles/abstracts/_colors" as *;
@use "./../../styles/abstracts/_fonts" as *;

.sidebar {
  position: sticky;
  top: 30px;
  width: 380px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.sidebar {
  li,
  button {
    font-family: "DM sans", sans-serif;
  }
  button {
    -webkit-text-stroke: 0px;
    font-weight: 400;
    font-size: 20px;
    color: $dark-800;
  } 
  &.accordionItem {
    & h2 {
      border-radius: 0px;
    }
  }
  li {
    font-size: 18px;
    color: $dark-400;
  }
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}


.accordion {
  .accordionItem {
    border-bottom: 2px solid $white-800;
    border-right: 2px solid $white-800;
    border-left: 2px solid $white-800;
    border-radius: 0px;
    button{
      border-radius: 0px !important;
      padding: 40px;

    }
  }

  .btnCollapsed {
    border-top: 2px solid $white-800;
    div {
      display: none;
    }
    button {
      &::after {
        display: none;
      }
    }
  }
}

.dark {
  color: $dark-800;
  background-color: $white-600;
  &.accordionItem {
    background-color: $white-400;
    & h2 {
      background-color: $white-600;
    }
    & > div {
      background-color: $white-400;
    }
  }
}

.light {
  color: $dark-800;
  background-color: $white-400;
  &.accordionItem {
    background-color: $white-500;
    & h2 {
      background-color: $white-500;
    }
    & > div {
      background-color: $white-400;
    }
  }
}

@media (max-width: 1348px) {
  .sidebar {
    width: auto;
    height: auto;
    font-size: 14px;
  }
  .accordion-body {
    padding: 0;
  }

 }

 @media (max-width: 1348px) {
   .sidebar {
    height: auto;
    margin: 5% 0;
    position: relative;
    .accordion {
      .accordionItem {
        padding: 0px;
        button{
          padding: 10px;
        }
      }
    }
  }
}
